In [1]:
import numpy as np
import pandas as pd

In [7]:
A  = pd.DataFrame({
    "Transport":["Poyezd", "Avtomobil", "Kema"],
    "Narxi":["98000","10000", "65000"]
})
A

   Transport  Narxi
0     Poyezd  98000
1  Avtomobil  10000
2       Kema  65000

In [22]:
B=pd.DataFrame({
    "Transport":["Poyezd", "Avtomobil", "Tramvay"],
    "Tezligi":["70","80","145"]
})
B

   Transport Tezligi
0     Poyezd      70
1  Avtomobil      80
2    Tramvay     145

In [9]:
merge = pd.merge(B,A, how="inner")#inner join
merge

   Transport Tezligi  Narxi
0     Poyezd      70  98000
1  Avtomobil      80  10000

In [10]:
merged_outer = pd.merge(A,B,how="outer")#outer join
merged_outer

   Transport  Narxi Tezligi
0     Poyezd  98000      70
1  Avtomobil  10000      80
2       Kema  65000     NaN
3    Tramvay    NaN     145

In [11]:
merge_left = pd.merge(A,B, how="left") #left join
merge_left

   Transport  Narxi Tezligi
0     Poyezd  98000      70
1  Avtomobil  10000      80
2       Kema  65000     NaN

In [12]:
merge_right = pd.merge(A,B,how="right")

## *Dataframe*larning **umimiy ustun**i bo'lmagan holatda

In [38]:
A  = pd.DataFrame({
    "Transport turi":["Poyezd", "Avtomobil", "Kema"],
    "Narxi":["98000","10000", "65000"]
})
A

  Transport turi  Narxi
0         Poyezd  98000
1      Avtomobil  10000
2           Kema  65000

In [39]:
B=pd.DataFrame({
    "Transport":["Poyezd", "Avtomobil", "Tramvay"],
    "Tezligi":["70","80","145"]
})
B

   Transport Tezligi
0     Poyezd      70
1  Avtomobil      80
2    Tramvay     145

In [40]:
merge = pd.merge(A,B, left_on="Transport turi", right_on="Transport")
merge

  Transport turi  Narxi  Transport Tezligi
0         Poyezd  98000     Poyezd      70
1      Avtomobil  10000  Avtomobil      80

Indekslash ustida birlashtirish

In [41]:
A= A.set_index("Transport turi")
A

                Narxi
Transport turi
Poyezd          98000
Avtomobil       10000
Kema            65000

In [42]:
pd.merge(A,B,left_index=True, right_on="Transport")

   Narxi  Transport Tezligi
0  98000     Poyezd      70
1  10000  Avtomobil      80

In [43]:
B=B.set_index("Transport")
B

          Tezligi
Transport
Poyezd         70
Avtomobil      80
Tramvay       145

In [45]:
pd.merge(A,B,left_index=True, right_index=True)

           Narxi Tezligi
Poyezd     98000      70
Avtomobil  10000      80